.status {
    display:inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
    border-radius: 50%;
}

.cursor-pointer{
    cursor: pointer;
}
.male-color{
    color : #40bef1
}
.female-color{
    color: #e24cad
}